<div class="col-xl-11 col-lg-11 mx-auto row">
                    <!--strat: thanh điều hướng-->
                    <div class="my-bg-1 p-0 my-nav-1">
                      <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="/home">Dòng thời gian</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Thông báo</a>
                          <ul class="dropdown-menu p-0">
                            <li><a class="dropdown-item" href="/notification">Tất cả</a></li>
                            <li><a class="dropdown-item" href="/department">Theo phòng, khoa</a></li>
                            {{#notification_manager_show account.rolecode}} {{!Helper xét rolecode của account để hiển thị phần quản lý thông báo}}
                              <li><a class="dropdown-item" href="/notification/add">Thêm thông báo</a></li>
                              <li><a class="dropdown-item" href="/notification/manager">Quản lý thông báo</a></li>
                            {{/notification_manager_show}}
                            
                          </ul>
                        </li>
                        
                      </ul>
                    </div>
                    <!--end: thanh điều hướng-->
                    <!--start: phần chỉnh sửa thông tin cá nhân-->
                    <div class="p-4 information-form">
                      <div class="bg-text blue-text">Đổi mật khẩu</div>
                      <form action="/account/changepassword" method="post">

                        <label for="password-input" class="blue-text">Mật khẩu</label> <br>
                        <input type="password" name="password" id="password-input" class="my-input" placeholder="Nhập mật khẩu">
                        <label for="newpassword-input" class="blue-text">Mật khẩu mới</label> <br>
                        <input type="password" name="newpassword" id="newpassword-input" class="my-input" placeholder="Nhập mật khẩu mới">
                        <label for="passwordconfirm-input" class="blue-text">Xác nhận mật khẩu</label> <br>
                        <input type="password" name="passwordconfirm" id="passwordconfirm-input" class="my-input" placeholder="Nhập lại mật khẩu">
                        {{#if changepasswordErr}}
                          <div class="w-100 alert alert-danger alert-dismissible fade text-center p-2 show mt-3" role="alert">
                            {{changepasswordErr}}    
                          </div>
                        
                        {{/if}}
                        {{#if changepasswordSucc}}
                          <div class="w-100 alert alert-success alert-dismissible fade text-center p-2 show mt-3" role="alert">
                            {{changepasswordSucc}}    
                          </div>
                        
                        {{/if}}
                        <div> 
                          <button type="submit" class="my-btn my-btn-1 show-my-loading" id="edit-information">Đổi mật khẩu</button>
                        </div>
                        
                      </form>
                  </div>
                  </div>