<div class="col-xl-11 col-lg-11 mx-auto row">
    
    <div class="text-center">
        <h3 class="red-text">{{errormess}}</h3>
        <div><a href="/home" class="blue-text bold-text">Trở về trang chủ</a></div>
        <img src="/img/project/error.gif" class="img-fluid">
        
    </div>
</div>