<div class="account-form mx-auto col-xl-9 col-lg-9 row">
    <!--nội dung bên trái-->
    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 p-4 account-form-left">
        <div class="bg-text blue-text">Đăng nhập</div>
        <div class="sm-text">-Đối với người dùng phụ trách các phòng ban hoặc thuộc các khoa vui lòng sử dụng tài khoản được cung cấp</div>
        <div class="sm-text">-Đối với người dùng là sinh viên của trường vui lòng đăng nhập bằng google email sinh viên do trường cung cấp</div>
        
    </div>
    <!--nội dung bên phải -->
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 p-4 account-form-right">
        
        <form action="/login" method="post">
            <label for="username-input"  class="blue-text">Tài khoản</label> <br>
            <input type="text" name="username" id="username-input" class="my-input" placeholder="Nhập tài khoản" value="{{usernameVal}}"> <br>
            <label for="password-input" class="blue-text">Mật khẩu</label> <br>
            <input type="password" name="password" id="password-input" class="my-input" placeholder="Nhập mật khẩu">
            
            {{#if loginErr}}
                <div id="indexAlert" class="w-100 alert alert-danger alert-dismissible fade text-center p-2 show" role="alert">
                    {{loginErr}}    
                </div>
            {{else}}
                <div id="indexAlert" class="w-100 alert alert-danger alert-dismissible fade text-center p-2" role="alert">
                  
                </div>
            {{/if}}
            
            <button type="submit" class="my-btn my-btn-1">Đăng nhập</button>
            <div class="sm-text text-center mb-3">Hoặc đăng nhập bằng phương thức khác</div>
            {{!-- <div class="mx-auto"> <div class="g-signin2" id="my-signin2" data-onsuccess="onSignIn" data-theme="dark"></div></div> --}}
            <a href="auth/google"><button type="button" class="my-btn my-btn-2">Đăng nhập bằng Google</button></a>
        </form>
    </div>
</div>