<!--start: phần bao thanh điều hướng, timeline và thông báo-->
                  <div class="col-xl-11 col-lg-11 mx-auto row">
                    <!--strat: thanh điều hướng-->
                    <div class="my-bg-1 p-0 my-nav-1">
                      <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="/home">Dòng thời gian</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Thông báo</a>
                          <ul class="dropdown-menu p-0">
                            <li><a class="dropdown-item" href="/notification">Tất cả</a></li>
                            <li><a class="dropdown-item" href="/department">Theo phòng, khoa</a></li>
                            {{#notification_manager_show account.rolecode}} {{!Helper xét rolecode của account để hiển thị phần quản lý thông báo}}
                              <li><a class="dropdown-item" href="/notification/add">Thêm thông báo</a></li>
                              <li><a class="dropdown-item" href="/notification/manager">Quản lý thông báo</a></li>
                            {{/notification_manager_show}}
                            
                          </ul>
                        </li>
                        
                      </ul>
                    </div>
                    <!--end: thanh điều hướng-->

                    <!--start: danh sách thông báo-->
                
                    <div class="my-bg-1">
                       <div class="mt-2">
                          <a href="/manager">
                            <i class="fas fa-arrow-left blue-text"></i>
                          </a>
                        </div>
                        <div class="bg-text red-text mt-3 bold-text">Quản lý thông báo</div>
                        {{#if interactnotificationSucc}}
                        <div class="w-100 alert alert-success alert-dismissible fade text-center p-2 show mt-3" role="alert">
                            {{interactnotificationSucc}} 
                          </div>
                        {{/if}}

                    	<form action="/notification/manager" method="GET">
	                      
                            {{#showFilterManagerNotification departments department field searchvalue }}
                            {{/showFilterManagerNotification}}

                          <div>
                              <button class="my-btn my-btn-1"> Tìm kiếm </button>
                          </div>
                  		</form>
                      <div class="notification-not-scroll">
                        <hr>
                        <div class="d-flex flex-row justify-content-end mb-3">
                            <a href="/notification/add"><i class="fas fa-plus blue-text" title="Thêm thông báo mới"></i></a>
                        </div>
                        <div class="body-notification"> <!--Phần chứa các thông báo (hiển thị phòng khoa - thời gian - tiêu đề)-->
                         {{#showListNotifications notifications}}
                           
                        {{/showListNotifications}}
                        
                        </div>
                      </div>
                        {{!Nếu có mảng dữ liệu thông báo thì hiện mấy ô phân trang lên}}
                        {{#if notifications.length}}
                            {{#showPaginationManagerNotifications department field searchvalue page numberpage}}
                            {{/showPaginationManagerNotifications}}
                        {{/if}}
                      
                    </div>
                    <!--end: bảng danh sách tài khoản-->
                    

                    <!--start: phần thêm - chỉnh sửa thông báo-->
                    
                  </div>
                 <!--end: phần bao thanh điều hướng, timeline và thông báo-->